@use "../assest/image";
@use "../variables/color";
@import "../mixin/preview-decorator";

.featured-previews {
  display: grid;
  margin-top: 2em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2em;

  .preview {
    &__link {
      padding: 8em 13em 8em 12em;
    }

    &__title {
      font-size: 2.7em;
      margin: 0.5em 0;
    }

    &__author {
      margin-top: 1em;
      font-size: 1em;
    }

    &__sneak-peek {
      font-size: 1.2em;
      &::before {
        width: 1.5em;
        border-width: 2px;
      }
    }
  }

  .preview:first-of-type {
    @include preview-decorator(image.$interier, color.$color-transparent);
  }

  .preview:nth-of-type(2) {
    @include preview-decorator(
      image.$table,
      color.$color-bg-membership-card-paid
    );
  }

  .preview:nth-of-type(3) {
    @include preview-decorator(image.$chair, color.$color-transparent);
  }

  .preview__link:hover {
    background-size: 105%;
    background-position: center;
    text-decoration: none;
  }
}
