@use "./variables/color";
@use "./variables/font";
@use "./components/container";
@use "./components/navigation";
@use "./components/global-aside";
@use "./components/pinned-previews";
@use "./components/preview";
@use "./components/featured-previews";
@use "./components/earlier";
@use "./components/shared/button";
@use "./components/subscribe";
@use "./components/header";
@use "./components/footer";

body {
  font-family: font.$body-copy;
  background-color: color.$background;
  color: color.$white;
  min-width: 1150px;
}

h4,
h5,
h6 {
  font-family: font.$heading;
}

h1,
h2,
h3 {
  font-family: font.$primary-heading-font;
  font-weight: font.$primary-heading-weight;
}

.text-hidden {
  display: none;
}
