$bg-color: #111116;
$nav-element-color: aliceblue;
$open-svg-color: #fff;
$background: #262626;
$white: #ebebeb;
$foreground: #363643;
$orange: orange;
$yellow: yellow;
$color-light-violet: rgba(200, 100, 220, 0.9);
$color-light-red: #f74856;
$color-blue: rgba(20, 40, 200, 0.7);
$color-yellow: rgba(185, 245, 80, 0.7);

$color-violet: rgba(200, 0, 100, 0.5);
$color-cerise: #916780;
$color-eggplant: #652772;
$ghost-accent-color: #ffb469;
$color-elements-one: #ededf1;
$color-transparent: transparent;
$color-feature-elements-one: #333350;
$color-font-alert-orange: #ff970d;
$color-goldenrod: #c29500;
$color-copper: #dd5e00;
$color-bg-membership-card-paid: #fed672;
