$body-copy: Verdana, Geneva, Tahoma, sans-serif;
$primary-heading-font: "Corben", serif;
$secondry-heading-font: "Mulish", sans-serif;
$heading: Arial, Helvetica, sans-serif;
$subscribe-ityped-font: "Mulish", sans-serif;

// font size
$subscribe-ityped-size: 20px;

$primary-heading-size: 40px;
$primary-heading-weight: 800;
